# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfplan

# Python
**/__pycache__/
**/*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Plan
.plan.docx
..~lock.plan.docx#
